.extratoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    overflow: scroll;
}

.cardContainer {
    margin: 20px;
    width: 75%;
}

.listItemContainer {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listContainer .valor{
    font-size: 1rem;
    color: #990000;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 4px 10px;
}

.listContainer .desc{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left: 10px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listContainer .valorSoma{
    font-size: 1rem;
    color: #007519;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 4px 10px;
}

.listContainer .descSoma{
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    color: #007519;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin-left: 10px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}

.containerCardDetalhes {
    min-width: 250px;
}

.containerCardDetalhes .titulo {
    margin-top: 10px;
    font-size: 24px;
}

.containerCardDetalhes .subtitulo {
    margin: 20px;
    font-size: 20px;
}

.containerCardDetalhes p {
    margin: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    color: #686868;
}

.containerCardDetalhes .botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCardDetalhes button {
    margin: 15px 0px 20px 0px;
    border: 0;
    border-radius: 24px;
    height: 48px;
    font-size: 16px;
    background: #bd0600;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    width: 75%;
    box-shadow: 0px 2px 2px 0px grey;
}